@font-face {
    font-family: "Calligraphy Wet";
    src: url(static/calligraphy-font/CalligraphyWet-AX62.ttf);
  }

/*navigation bar*/
.navbar {
    background-color: black;
}
.navbar-brand {
    color:   #558564;
    font-family: "Calligraphy Wet", serif;
    font-size: 70px;
}
.nav-link {
    color:white;
    font-family: 'Arial';
    font-size: 15px;
    margin-left: 50px;
}
.dropdown-menu {
    background-color: black;
}
.dropdown-item {
    color: white;
}
.container-fluid {
    padding: 0px;
}

/*home page*/
.background-blk{
    background-color: black;
    padding-bottom: 100px;
}
.background-green {
    background-color:#558564;
    display: flex;
    padding-left: 300px;
    padding-top: 75px;
    color: white;
}
.blurb {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 4px solid #558564;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    font-size: larger;
    color: rgb(56, 55, 55);
}
.start-text {
    font-size: 50px;
    padding-left: 50px;
}
.start-btn {
    border-radius: 10px;
    font-size: 30px;
    background-color: #69EBD0;
}

main-title {
    color: whitesmoke;
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 3%;
}

sub-title {
    font-size: 40px;
    font-weight: bold;
    display: block;
    padding: 2%;
}

description {
    font-size: 20px;
    display: block;
    padding: 2%;
}

content {
    font-size: 15px;
    display: block; 
    padding: 2%;
}



.continue{
    border-radius: 20px;
    cursor: pointer;
    padding: 1%;
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
}

.vertical-line{
    display: inline-block;
    border-left: 3px solid #ccc;
    margin: 0 10px;
    height: 70px;
}

.pd{
    padding-right: 24px;
    /* margin: 80px; */
}