{% extends "layout.html" %}
{% block content %}
<script src="../static/beat.js"></script>
<script>
    let lessonId = {{ lessonId|tojson| safe }};
</script>
<div class="description">
    <main-title id="lessonName"></main-title>
    <description class="blurb" id="lessonDescription"></description>
</div>
<div class="row content">
        <content class="col-md-6 content-box" id="lessonContent"></content>
        <div id="vid" class="col-md-6">media placeholder</div>
        <button id = "continue-btn" class="center continue">
            continue
        </button>
</div>



{% endblock %}