{% extends "layout.html" %}

{% block content %}

<script src="../static/home.js"></script>
<div class="background-blk">

    <main-title>
        LEARN TO DANCE <span style="text-decoration: underline;">YOUR</span> STYLE
    </main-title>
    <div class="blurb">
        DANCEHUB teaches you the essentials to becoming a solid freestyle dancer. Whether you are a professional dancer wanting to compete in the Red Bull Dance Competition or someone who wants to look good dancing with your friends on Afrobeats night at the club, this tutorial is for you. 
    </div>
</div>
<div class="background-green">
    <div class="start-text">
        Ready To Start?
    </div>
    <div style = "display: grid; grid-row-gap: 20px; padding-left: 300px; padding-bottom: 50px;">
        <button  id="start-beat" class="center start-btn">
            Find The Beat
        </button>

        <button id="start-move" class="center start-btn">
            Learn A Move
        </button>
    </div> 
    
</div>
{% endblock %}
