{% extends "layout.html" %}
{% block content %}
<script src="../static/quiz.js"></script>
<script>
    let questionId = {{ questionId|tojson| safe }};
    var quizinfo = JSON.parse('{{ quizinfo|tojson }}');
</script>

<div class="description">
    <main-title id="quizName"></main-title>
    <description class="blurb" id="quizDescription"></description>
    
    
</div>
<div class="green-bg">
    <div id="vid"></div>
    <div class="row flex-nowrap align-items-center" id="graph"></div>

    <div class="row flex-nowrap align-items-center" id="checkboxes"></div>
    <button  id="continue-btn" class="center start-btn">
        Start Quiz
    </button>
</div>

{% endblock %}