{% extends "layout.html" %}
{% block content %}
<script src="../static/quiz.js"></script>
<script>
    let questionId = {{ questionId|tojson| safe }};
    var quizinfo = JSON.parse('{{ quizinfo|tojson }}');
</script>
<sub-title id="quizName"></sub-title>
<sub-title id="quizScore"></sub-title>
<description id="quizDescription"></description>

<!-- vids are still not showing up for me- canyon -->
<div id="vid"></div> 
<!-- <iframe width="853" height="480" src="https://www.youtube.com/embed/eHqiwNCSKEE?si=5NnynQc7CGK8uvId" frameborder="0" allowfullscreen></iframe> -->
    <!-- <iframe width="420" height="315"
        src="https://www.youtube.com/embed/eHqiwNCSKEE?si=351jRuQBVigtKZx2&amp;clip=UgkxoTbVYv0xdbYhfRElyrcnMCRlVk-eZLVI&amp;clipt=ELDhBBjArwU">
    </iframe> -->
    

<div class="row flex-nowrap align-items-center" id="graph"></div>

<div class="row flex-nowrap align-items-center" id="checkboxes"></div>

<button id = "continue" class="center continue">
    Start Quiz
</button>

{% endblock %}